{% extends 'base.html' %}
{% block title %}Listar Justificativas BO{% endblock title %}
{% block content %}
{% include "modal.html" %}
<div class="container">
<!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->

    <div class="card-body">
        <button class="newBO btn btn-primary" type="button" name="button">Nova Justificativa BO</button>
    </div>
    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Justificativas</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Indisponibilidade</th>
                      <th>Código</th>
                      <th>Justificativa</th>
                      <th>Motivo</th>
                      <th>Deletar</th>
                      <th>Alterar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for justificativa_bo in justificativasbo %}
                    <tr>
                      <td>{{ justificativa_bo.get_val_flag_indisp_display }}</td>
                      <td>{{ justificativa_bo.cod_justificativa }}</td>
                      <td>{{ justificativa_bo.dsc_justificativa }}</td>
                      <td>{{ justificativa_bo.cod_motivo }}</td>
                      <td>
                          <button type="button" class="deleteBO btn-danger btn-sm" data-id="{% url 'justificativa_bo_delete' justificativa_bo.pk %}">
                              <span class="fa fa-trash"></span>
                         </button>
                      </td>
                      <td>
                          <button type="button" class="update-bo btn btn-sm btn-primary" data-id="{% url 'justificativa_bo_update' justificativa_bo.pk %}">
                          <span class="fa fa-pencil"></span>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
      // Create book button
      $(".newBO").modalForm({formURL: "{% url 'justificativa_bo_create' %}"});

      // Update book buttons
      $(".update-bo").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".deleteBO").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })
      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });
    });
</script>
{% endblock content %}
