{% load widget_tweaks %}

{% block content %}
<div class="containter">
    <form method="post" action="">
    {% csrf_token %}
      <div class="modal-header">
        <h3 class="modal-title">Deletar Justificativa BO</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

  <div class="modal-body">
    <p class="delete-text">Deseja deletar <strong>{{ object }}</strong>?</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="delete-btn btn btn-danger">Delete</button>
  </div>

</form>
</div>
{% endblock content %}
