{% extends 'base.html' %}
{% load bootstrap %}
{% block title%}Gerar/Atualizar Relat&oacute;rio{% endblock title %}
{% block content %}
<div class="container">
    <h1>Gerar/Atualizar Relat&oacute;rio na Tela</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <!-- TODO: Implementar botao Exportar para CSV -->
        <br>
        <button type="submit" class="btn btn-primary">Gerar Relat&oacute;rio</button>
    </form>
    {% if report %}
    <a href="{% url 'report_delete' report.id %}">Deletar este Relat&oacute;rio</a>
    {% endif %}
</div>
{% endblock content %}
